body,html{
    margin:0;
    width:100%;
  }
  html{
      background-color: black;
  }

.bg-website{
    background-color: black;
}

.navbar{
    background-color: black;
}

.main-text{
    color:  white;
}

h4{
    text-align: center;
}

.current-img{
    border: 2px;
    border-style: solid;
    border-color: lightgrey;
}